<!-- users/templates/signup.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Sign Up</title>
</head>
<body>
    <form action="/users/signup" method="post">
        <b>아이디</b>
        <input type="text" name="name" placeholder="아이디 입력"><br><br>

        <b>비밀번호</b>
        <input type="password" id="pw" name="password" placeholder="비밀번호 입력"><br><br>

        <b>비밀번호 확인</b>
        <input type="password" id="cnfpw" name="confirmpw" placeholder="비밀번호 확인">

        <input type="submit" onclick=confirm() value="제출"><br><br><br><br>
    </form>
    <div>
        이미 회원이세요? <button type="submit" onClick="location.href='/users/signin'">로그인 하러 가기</button>
    </div>
</body>
<script type="text/javascript">
    function confirm() {
        var p1 = document.getElementById("pw").value;
        var p2 = document.getElementById("cnfpw").value;

        if (p1.length < 6) {
            window.alert("패스워드가 너무 짧습니다.");
            return false
        }

        if (p1 != p2) {
            alert("패스워드가 일치하지 않습니다");
            return false
        } else { return true; }
    }
</script>
</html>
