<!-- projects/templates/projects/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Projects Page</title>
</head>
<body>
    <div class="wrapper">
        <div id="stc">프로젝트 생성 전</div><br><br>
        <div class="box" id="state"></div>
    </div>

    <style>
        div.wrapper{
            font-size: 25;
            max-width: 850px;
            display: block;
            margin-left: 50%;
            margin-right: auto;
            margin-top: 10%;
        }
        div.box{
            width: 100px;
            height: 100px;
            background-color: aqua;
            border-radius: 5em;
            border-color: black;
        }
    </style>

    <script>
        // const state = JSON.parse(document.getElementById('state').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/projects'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log(e)
            var data = JSON.parse(e.data);
            var state = data["state"]

            if (state === 1) {
                document.querySelector("#state").style.background = "red"
                document.getElementById("stc").innerHTML = "프로젝트 생성중"
            }
            else if (state === 2) {
                document.querySelector("#state").style.background = "green"
                document.getElementById("stc").innerHTML = "프로젝트 생성 완료"
            }
            else if (state === 3) {
                document.querySelector("#state").style.background = "yellow"
                document.getElementById("stc").innerHTML = "STT 진행중"
            }
            else if (state === 4) {
                document.querySelector("#state").style.background = "blue"
                document.getElementById("stc").innerHTML = "STT 진행 완료"
            }
            else if (state === 5) {
                document.querySelector("#state").style.background = "black"
                document.getElementById("stc").innerHTML = "오류 발생"
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly')
        }
    </script>
</body>
</html>