<!-- projects/templates/projects/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Projects Page</title>
</head>
<body>
    {% for project in projects %}
    <div class="wrapper">
        <div id="stc_{{project.id}}">project id: {{project.id}}</div>
        <div class="box" id="state_{{project.id}}">state: {{project.state}}</div>
    </div>
    {% endfor %}

    <style>
        div.wrapper{
            font-size: 25;
            max-width: 850px;
            display: block;
            margin-left: 50%;
            margin-right: auto;
            margin-top: 10%;
        }
        div.box{
            width: 100px;
            height: 100px;
            background-color: aqua;
            border-radius: 5em;
            border-color: black;
            text-align: center;
        }
    </style>

    <script>
        // const state = JSON.parse(document.getElementById('state').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/projects'
            + '/'
        );

        chatSocket.onmessage = function(e) {
            console.log(e)
            var data = JSON.parse(e.data);
            var state = data["state"];
            var projectId = data["project_id"];
            var elementId = "stc_" + projectId;
            var boxId = "#state_" + projectId;

            if (state === 1) {
                document.querySelector(boxId).style.background = "red"
                document.querySelector(boxId).innerHTML = "state: " + state
                document.getElementById(elementId).innerHTML = "프로젝트 생성중"
            }
            else if (state === 2) {
                document.querySelector(boxId).style.background = "green"
                document.querySelector(boxId).innerHTML = "state: " + state
                document.getElementById(elementId).innerHTML = "프로젝트 생성 완료"
            }
            else if (state === 3) {
                document.querySelector(boxId).style.background = "yellow"
                document.querySelector(boxId).innerHTML = "state: " + state
                document.getElementById(elementId).innerHTML = "STT 진행중"
            }
            else if (state === 4) {
                document.querySelector(boxId).style.background = "blue"
                document.querySelector(boxId).innerHTML = "state: " + state
                document.getElementById(elementId).innerHTML = "STT 진행 완료"
            }
            else if (state === 5) {
                document.querySelector(boxId).style.background = "black"
                document.querySelector(boxId).innerHTML = "state: " + state
                document.getElementById(elementId).innerHTML = "오류 발생"
            }
        }

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly')
        }
    </script>
</body>
</html>